<div class="field" [ngClass]=" { 'field_valid': showErrors() }">
  <input required autocomplete="off" [formControl]="control" [ngClass]=" { 'is-danger': showErrors() }" />
  <label class="label-name">
    <span class="content-name">
      {{ label }}
    </span>

  </label>



  <ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors.required">
      value is required.
    </div>
    <div class="help is-danger" *ngIf="control.errors.minlength">
      value you entered is
      {{ control.errors.minlength.actualLength }}
      characters long, but it must be at least
      {{ control.errors.minlength.requiredLength }}
      characters
    </div>
    <div class="help is-danger" *ngIf="control.errors.maxlength">
      value you entered is
      {{ control.errors.maxlength.actualLength }}
      characters long, but it cannot be longer than
      {{ control.errors.maxlength.requiredLength }}
      characters
    </div>
    <div class="help is-danger" *ngIf="control.errors.pattern">
      Invalid format
    </div>
  </ng-container>
</div>
